name: Generate OFAC sanctioned digital currency addresses lists

on:
  schedule:
    - cron: '24 1 * * *'
  workflow_dispatch:

permissions:
  contents: write

jobs:
  generate-lists:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4
      with:
        persist-credentials: false
        fetch-depth: 0 

    - name: Set up Python 3.11
      uses: actions/setup-python@v5
      with:
        python-version: '3.11'
        # REMOVED: cache: 'pip' to fix the "No file matched" error

    - name: Install Dependencies
      run: |
        pip install defusedxml

    - name: Download the sdn_advanced.xml file
      run: |
        wget -q https://sanctionslistservice.ofac.treas.gov/api/PublicationPreview/exports/SDN_ADVANCED.XML

    - name: Generate TXT and JSON files
      run: |
        mkdir -p data
        python3 generate-address-list.py XBT ETH XMR LTC ZEC DASH BTG ETC BSV BCH XVG USDC USDT XRP TRX ARB BSC -f JSON TXT -path ./data -sdn SDN_ADVANCED.XML

    - name: Commit and Push changes
      run: |
        git config --local user.email "41898282+github-actions[bot]@users.noreply.github.com"
        git config --local user.name "github-actions[bot]"
        
        git checkout lists
        mv data/* .
        git add sanctioned_addresses_* -f
        
        if git diff --staged --quiet; then
          echo "No changes to commit."
        else
          git commit -m "Automatically updated lists: $(date -u)"
          git remote set-url origin https://x-access-token:${{ secrets.GITHUB_TOKEN }}@github.com/${{ github.repository }}
          git push origin lists
        fi
